$circle: 50%;

.sideImages {
  height: 250px;
  width: 250px;
  border-radius: 50px;
  margin-bottom: 20px;
  cursor: pointer;
  order: 0;
}

.carousel {
  display: flex;
  order: 1;
}

.header {
  display: flex;
  flex: 1 0;
  flex-direction: row;
}

.headerImage {
  flex: 1 1;
  height: 1700px;
  width: 1700px;
  border-right: 30px solid white;
  border-left: 30px solid white;
  z-index: 0;
  cursor: pointer;
}

.leftArrow {
  // display: flex;
  align-items: stretch;
  order: -1;
  height: 100px;
  width: 100px;
  border-radius: $circle;
  margin: 15px;
  box-shadow: 2px 2px 20px grey;
  cursor: pointer;
  align-self: center;
}

.rightArrowContainer {
  flex: 9;
  display: flex;
  // bottom:
}

.heartContainer {
  flex: 1;
  display: flex;
}

.rightArrow {
  order: 1;
  height: 100px;
  width: 100px;
  margin-left: 15px;
  justify-content: center;
  align-self: center;
  box-shadow: 2px 2px 20px grey;
  border-radius: $circle;
  cursor: pointer;
  margin-bottom: 180px;
}

.iconsContainer {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.heart {
  order: 1;
  height: 80px;
  width: 80px;
  border: 20px solid white;
  box-shadow: 2px 2px 20px grey;
  border-radius: $circle;
  cursor: pointer;
   // position: absolute;
  // top: 0;
}

