$circle: 50%;

.modalSideImages {
  height: 350px;
  width: 350px;
  border-radius: 50px;
  margin: auto 50px 30px auto; //top right bottom left
  cursor: pointer;
  order: 2;
  align-self: flex-start;
  flex: 0 0 auto;
  // display: inline;
}

.modalSideImagesContainer{
  display: flex;
  flex-direction: column;
  overflow-x: hidden;
  overflow-y: auto;
  // overflow: auto;
}

.exit {
  order: 3;
  height: 80px;
  width: 80px;
  border: 20px solid white;
  align-self: flex-start;
  box-shadow: 2px 2px 20px grey;
  border-radius: $circle;
  background-color: white;
  cursor: pointer;
  z-index: 2;
  margin-left: 1100px;
  flex: 0 0 auto;
}

.modalImage {
  align-self: flex-start;
  order: 0;
  height: 2200px;
  width: 2200px;
  z-index: 1;
  background-color: white;
  flex: 1 2 auto;
}

.modalLeftArrow {
  border: 20px solid white;
  order: -1;
  height: 100px;
  width: 100px;
  border-radius: $circle;
  margin: 0px 150px 450px 50px; //top right bottom left
  box-shadow: 2px 2px 20px grey;
  cursor: pointer;
  align-self: center;
  z-index: 2;
  background-color: white;
  flex: 0 0 auto;
}

.modalRightArrow {
  border: 20px solid white;
  order: 0;
  height: 100px;
  width: 100px;
  margin: 0px 150px 450px 150px; //top right bottom left
  align-self: center;
  box-shadow: 2px 2px 20px grey;
  border-radius: $circle;
  cursor: pointer;
  z-index: 2;
  background-color: white;
  flex: 0 0 auto;
}

.modal {
  display: flex;
  flex-direction: row;
  align-content: center;
  justify-content: center;
  position: absolute; //Stay in place
  z-index: 1; //Sit on top
  padding-top: 100px; //Location of the box
  left: 0;
  top: 0;
  width: 100%; //Full width
  height: 120%; // Full height
  // overflow: auto; // Enable scroll if needed
  background-color: rgb(82,82,82, 0.9); // Fallback color */
  opacity: 1;
  // visibility: visible;
}

