$circle: 50%;

.modal {
  display: flex;
  justify-content: center;
  align-items: center;
  left: 0;
  top: 0;
  position: fixed;
  width: 100vw;
  height: 100vh;
  background-color: rgb(82,82,82, 0.9); // Fallback color */
  opacity: 1;
  overflow: none;
  // animation: popup 0.30s;
}

.modalImageContainer {
  margin-top: 50px;
  flex: 7;
  display: flex;
  justify-content: center;
  align-items: center;
}

.modalImage {
  padding-top: 25px;
  height: auto;
  width: 500px;
  padding-bottom: 100px;
  position: relative;
}

.modalSideImagesContainer {
  display: flex;
  flex: 1;
  flex-direction: column;
  // margin-right: 00px;
  overflow-y:scroll;
  position:relative;
  height: 80vh;
  margin-top: 200px;
  overflow: scroll;
  margin-bottom: 200px;
  margin-right:100px;
}

.modalSideImages {
  height: 85px;
  width: 85px;
  border-radius: 10px;
  margin: auto 50px 10px auto; //top right bottom left
  cursor: pointer;
}

.modalLeftArrow {
  border: 10px solid white;
  height: 20px;
  width: 20px;
  border-radius: $circle;
  margin: 20px 30px 70px 30px; //top right bottom left
  box-shadow: 2px 2px 20px grey;
  cursor: pointer;
  align-self: center;
  z-index: 5;
  background-color: white;
  position: relative;
  margin-left: 270px;
}

.modalLeftArrow:hover {
  background-color: rgb(248,248,248);
  border: 11.5px solid rgb(248,248,248);
}

.modalRightArrow {
  border: 10px solid white;
  height: 20px;
  width: 20px;
  margin: 20px 50px 70px 30px; //top right bottom left
  align-self: center;
  box-shadow: 2px 2px 20px grey;
  border-radius: $circle;
  cursor: pointer;
  z-index: 5;
  background-color: white;
  position: relative;
}

.modalRightArrow:hover {
  background-color: rgb(248,248,248);
  border: 11.5px solid rgb(248,248,248);
}

.exitContainer {
  flex: 0;
  height: 100%;
  margin-top: 3px;
  margin-right: 3px;
  align-items: flex-start;
}

.exit {
  height: 20px;
  width: 20px;
  border: 10px solid white;
  align-self: flex-start;
  box-shadow: 2px 2px 20px grey;
  border-radius: $circle;
  background-color: white;
  cursor: pointer;
  z-index: 5;
}

.exit:hover {
  background-color: rgb(248,248,248);
  border: 11.5px solid rgb(248,248,248);
}

.outerModal {
  z-index: -1;
}

.click {
  z-index: -1;
  width: 100 vw;
  height: 100 vh;
}

@keyframes popup {
  0% { transform: translateY(101%)}
  10% { transform: translateY(90%)}
  20% { transform: translateY(80%)}
  30% { transform: translateY(70%)}
  40% { transform: translateY(60%)}
  50% { transform: translateY(50%)}
  60% { transform: translateY(40%)}
  70% { transform: translateY(30%)}
  80% { transform: translateY(20%)}
  90% { transform: translateY(10%)}
  100% { transform: translateY(0%)}
}