$circle: 50%;

.modalSideImages {
  height: 150px;
  width: 150px;
  border-radius: 10px;
  margin: auto 50px 10px auto; //top right bottom left
  cursor: pointer;
  order: 2;
  align-self: flex-start;
  flex: 0 0 auto;
}

.modalSideImagesContainer{
  display: flex;
  flex-direction: column;
  overflow-x: hidden;
  overflow-y: auto;
}

.exit {
  order: 3;
  height: 30px;
  width: 30px;
  border: 15px solid white;
  align-self: flex-start;
  box-shadow: 2px 2px 20px grey;
  border-radius: $circle;
  background-color: white;
  cursor: pointer;
  z-index: 2;
  margin-left: 300px;
  flex: 0 0 auto;
}

.modalImage {
  align-self: flex-start;
  order: 0;
  height: 750px;
  width: 750px;
  z-index: 1;
  background-color: white;
  flex: 1 2 auto;
}

.modalLeftArrow {
  border: 15px solid white;
  order: -1;
  height: 30px;
  width: 30px;
  border-radius: $circle;
  margin: 0px 30px 300px 30px; //top right bottom left
  box-shadow: 2px 2px 20px grey;
  cursor: pointer;
  align-self: center;
  z-index: 2;
  background-color: white;
  flex: 0 0 auto;
}

.modalRightArrow {
  border: 15px solid white;
  order: 0;
  height: 30px;
  width: 30px;
  margin: 0px 50px 300px 30px; //top right bottom left
  align-self: center;
  box-shadow: 2px 2px 20px grey;
  border-radius: $circle;
  cursor: pointer;
  z-index: 2;
  background-color: white;
  flex: 0 0 auto;
}

.modal {
  display: flex;
  flex-direction: row;
  align-content: center;
  justify-content: center;
  position: absolute; //Stay in place
  z-index: 1; //Sit on top
  padding-top: 45px; //Location of the box
  left: 0;
  top: 0;
  width: 100%; //Full width
  height: 130%; // Full height
  // overflow: auto; // Enable scroll if needed
  background-color: rgb(82,82,82, 0.9); // Fallback color */
  opacity: 1;
  // visibility: visible;
}

