

$loaders: purple;

.loader {
  color: $loaders
}

$roundedCorners: 50px;

$circle: 50%;

.app {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-direction: row;
  align-content: flex-start;
}

.sideImages {
  height: 300px;
  width: 300px;
  border-radius: 50px;
  margin-bottom: 20px;
  cursor: pointer;
  order: 0;
}

.header {
  display: flex;
  border-right: 30px solid white;
  border-left: 30px solid white;
  flex: 1 0;
  flex-direction: row;
  // flex: 1 1 10000px;
  height: 2000px;
  width: 2000px;
}

.carousel {
  display: flex;
  order: 1;
}

.headerImage {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  flex: 1 1 10000px;

  // margin: 0 auto;
  // margin-top: 500px;
  // height: 1000px;
  // width: 1000px;
  // float: left
  // vertical-align: middle;
  // order: 0;
  // border-right: 30px solid white;
  // border-left: 30px solid white;
}

.leftArrow {
  // display: flex;
  align-items: stretch;
  order: -1;
  height: 100px;
  width: 100px;
  border-radius: $circle;
  margin: 15px;
  box-shadow: 2px 2px 20px grey;
  cursor: pointer;
  align-self: center;
}

.rightArrow {
  order: 1;
  height: 100px;
  width: 100px;
  margin: 15px;
  align-self: center;
  box-shadow: 2px 2px 20px grey;
  border-radius: $circle;
  cursor: pointer;
}

.heart {
  order: 1;
  height: 80px;
  width: 80px;
  border: 20px solid white;
  // margin: 15px;
  align-self: flex-start;
  box-shadow: 2px 2px 20px grey;
  border-radius: $circle;
  cursor: pointer;
}



